html {
  font-size: 14px;
  font-family: 'Asap', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #e8eced;
  font-family: 'Asap', sans-serif;

}

.main-color{
  background-color: #e8eced;
}